@import "./styles/globals.css";
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-manrope: "Manrope", "sans-serif";
  --breakpoint-*: initial;
  --breakpoint-sm: 375px;
  --breakpoint-lg: 768px;
  --breakpoint-xl: 1280px;

  --color-black: #262626;
  --color-red: #ef2447;
  --color-green: #08aa83;
  --color-blue: #54adff;
  --color-light: #f9f9f9;

  --color-primary: #f6b83d;
  --color-secondary: #fff4df;
  --color-primary-hover: #f9b020;
  --color-secondary-hover: #fbe7c1;

  --color-dark-primary: #2c2c2c;
  --color-dark-secondary: #383838;

  --color-yellow: #f6b83d;
  --color-yellow-light: #fff4df;

  --color-purple: #8c3df6;
  --color-purple-light: #ede0ff;

  --color-blue: #3d8cf6;
  --color-blue-light: #dfeeff;

  --color-green: #3df68c;
  --color-green-light: #e0fff0;

  --color-pink: #f63d8c;
  --color-pink-light: #ffe0ef;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 22px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(38, 38, 38, 0.08);
  border-radius: 13px;
  border: 7px solid transparent;
  background-clip: padding-box;
  cursor: pointer;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
